Source: pve-eslint
Section: devel
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~)
Standards-Version: 4.3.0
Homepage: http://www.proxmox.com

Package: pve-eslint
Architecture: all
Depends: node-commander, node-colors, nodejs, ${misc:Depends},
Description: ESLint for Proxmox Virtual Environment development
 This package contains a version of eslint used to develop the
 Proxmox Virtual Environment, and other Proxmox projects, web GUI.
